{:deps
 {org.clojure/clojure {:mvn/version "1.10.1"}
  com.amazonaws/aws-java-sdk-sts {:mvn/version "1.11.762"}
  com.amazonaws/aws-java-sdk-core {:mvn/version "1.11.762"}
  org.slf4j/slf4j-simple {:mvn/version "1.6.1"}}}
